<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trainee-task</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        
        
        <div  id="app" class="container myTable">
            <div class="row">
                <div class="ml-1">
                        <button type="button" onclick="createCsv()" class="myButton btn btn-outline-primary">
                                CSV
                        </button>
                            
                        <button type="button" onclick="createTsv()" class="myButton btn btn-outline-primary">
                            TSV
                        </button>
                </div>

                <div class="ml-auto row">
                        <p class="text">Display rows:</p>
                        <input type="number" value="1" min="1" :max="json.length" id="el" aria-label="Search" class="myButton form-control" style="width: 100px;" name="quantity" aria-readonly="">
                        <button v-on:click='size = document.getElementById("el").value; countPage = Math.ceil(json.length / size);' class="mbtn myButton btn btn-outline-primary" type="button">Save</button>
                </div>

            </div>
            
                
            

            
            <table id="table">
                <thead>
                    <th @click = "sort('rank')">Rank</th>
                    <th @click = "sort('employer')">Employer</th>
                    <th @click = "sort('employeesCount')">Employees Count</th>
                    <th @click = "sort('medianSalary')">Median Salary</th>

                </thead>

                <tbody>
                    <tr v-for="data in sortedData">
                        <td v-for="k, v in data">
                           {{ k }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="pagination" class="myNav">
                <ul class="pagination">
                    <li v-for="page in countPage" class="page-item">
                        <a href="#" v-on:click="currentPage = page" class="page-link">
                            {{ page }}
                        </a>
                    </li>
                </ul>
            </nav>
            

        </div>
        <script src="tableOperation.js"></script>
        <script src="download.js"></script>

</body>
</html>